* {
    transition: all 0.5s ease-in-out;
}
body{
    font-size: 24px;
}
.card-title{
    font-size: 16px;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: auto;
  }
  
  footer > p {
    font-weight: bold;
    color: white;
  }
  
  .zoom {
    transition: transform .5s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
  }